@{
    ViewData["Title"] = "Submit your research";
}

<div class="text-center">
    <h1 class="display-4">Submit Your research</h1>
    <form asp-controller="Submission" asp-action="Submit" method="post" enctype="multipart/form-data">
        <label>
            Name
            <input type="text" name="Name" />
        </label>
        <label>
            Surname
            <input type="text" name="Surname" />
        </label>
        <label>
            Email
            <input type="text" name="Email" />
        </label>
        <label>
            Research Institution
            <input type="text" name="ResearchInstitution" />
        </label>
        <label>
            Research Paper
            <input type="file" name="File" />
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
