@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>Reviewer account successfully created.</p>
    <p>Your reviewer ID is @ViewData["ReviewerId"]</p>
    <p> Please store this ID safely as it will not be shown again.</p>
}
