@{
    ViewData["Title"] = "Create a reviewer account";
}

<div class="text-center">
    <h1 class="display-4">Submit Your review</h1>
    <form asp-controller="Reviewer" asp-action="CreateReviewer" method="post" enctype="multipart/form-data">
        <label>
            Name
            <input type="text" name="name" />
        </label>
        <label>
            Surname
            <input type="text" name="surname" />
        </label>
        <label>
            Research Institution
            <input type="text" name="researchInstitution" />
        </label>
        <label>
            Email Address
            <input type="text" name="emailAddress" />
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
